 .form{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)),url(chair.jpg);
     padding:20px;
     color:white;
     height:500px;
     background-repeat: no-repeat;
    background-size: cover;
    margin-top:50px;
   
   
     
 }
 .content{
     display:flex;
     align-items: center;
     justify-content: space-around;
 }
 .content .contact{
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
 }
 .contact b{
     color:gold;
 }
 .contact img{
     width:15px;
 }
span{
    margin-top:30px;
}
input{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid rgb(46, 9, 9);
    width:80%;
    font-size: 10px;
   
   
}
 input:focus{
    border-bottom: 1px solid rgb(14, 13, 13);
   
    outline:none;
 }
 .forms{
     background-color: white;
     padding-top:8px;
     width:300px;
     padding-bottom:20px;
     box-shadow: -8px 6px 89px 05px rgba(0, 0, 0, 0.75);
   
 }

 
 h6{
     color:rgb(255, 255, 255);
     font-size:30px;
     margin-top:45px;
    
   
 }
 .forms button{
     width: 25%;
     background-color: goldenrod;
     border: 1px solid gold;
     color:rgb(255, 255, 255);
     padding-top: 5px;
     padding-bottom: 5px;
     float:left;
     margin-left:20px;
   
 }
 form span{
     color:black;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     float:left;
     margin-left:30px;
     font-size: 20px;
 }
 .inputcontainer{
     position: relative;
 }
 .inputcontainer label{
     position:absolute;
     color:black;
     font-size:10px;
 }
 .message{
     color:green;
 }
 @media(max-width:700px){
    .form{
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(31, 2, 2, 0.5)),url(chair.jpg);
         padding:50px;
         color:white;
         height:900px;
         background-repeat: no-repeat;
        background-size: cover;
         
     }
     h6{
         font-size:40px;
     }
    .content{
        display:block;
        align-items: center;
        justify-content: space-around;
    }
    .content .contact{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    form span{
        margin-top:45px;
        margin-bottom: 30px;
    }
    .email{
        margin-bottom: 25px;
    }
    .forms{
        padding-bottom: 60px;

        width:300px;
    }

 }