.services{
   
    height:400px;
    padding-top:30px;
  
  
  
}
.services h4{
    text-align: center;
    margin:20px;
    font-size: 30px;
    
}
.services .content span{
   font-size:20px;
   font-weight: bold;
   margin-bottom:20px;
   text-transform: uppercase;
}
.services .content{
   display:flex;
   align-items: center;
   justify-content: space-around;
   width:90%;
   margin:auto;
  
}
.services .content div{
    width:300px;
   margin-left:20px;
   margin-top:25px;
 
    height:250px;
 
   z-index:2222;
   box-shadow: -8px 6px 89px -65px rgba(0,0,0,0.75);
    display:flex;
    flex-direction: column;
    align-items: center;
   padding-bottom:25px;
   padding-left:20px;
   padding-right: 20px;
   border-top: 2px solid goldenrod;
    
  
}
.services .content div:hover{
    transform:scale(1.09);
    transition: ease-in-out;
}
.services div p{
    
    font-size:10px;
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
b{
    color:rgb(163, 133, 36);
    font-size: 20px;
    margin-top:10px;
}

@media(max-width:700px){
    .services{
        height:1100px;
      
      
    }
    .services .content{
        display:block;
        align-items: center;
        justify-content: space-around;
     }
     .services .content div{
        width:90%;
        margin:auto;
       
        margin-top:20px;
        display:flex;
        flex-direction: column;
        align-items: center;
     
      
    }
    .services div p{
       
        font-size:10px;   
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .services h4{
        text-align: center;
        margin-bottom:40px;
        font-size: 30px;
      
    }
}