.inner{
   
}
.inner .header{
    text-align: center;
   
    padding:1rem;
    position:relative;
}
.inner .header h1{
    font-size: 25px;
}
.inner .header::after{
    content:"";
    position:absolute;
    bottom:10px;
    left:50%;
    transform: translate(-50%);
    height: 1.5px;
    width:100px;
    background-color: crimson;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:15px;
}
.skillbox{
  width:300px;
    
    cursor:pointer;   
    margin:auto;

}
.skilltitle{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0.5rem;
    margin-bottom: 0.2rem;
}
.skillicon{
    width:80px;
}

.skilltitle h3{
    margin: 0.4rem;
    font-size: 15px;
}
.inner img{
    border-radius: 50%;
    width:60px;
    height:60px;
  
}
.inner p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
}
@media(max-width:990px){
    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        
        padding: 2rem 50px;
        font-size:15px;
    }
}
@media(max-width:700px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        
        padding: 1rem 80px;
        font-size:15px;
    }
    .inner p{
        margin-left:10px;
        text-align: center;
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .skillbox{
        width:300px;
          
          cursor:pointer;  
          margin:auto; 
      
      }

}